Package: firejail
Version: FIREJAILVER-1
Architecture: amd64
Maintainer: netblue30 <netblue30@yahoo.com>
Installed-Size: 116
Depends: bridge-utils, libc6
Section: net
Priority: extra
Homepage: http://firejail.sourceforge.net
Description: Sandbox program that reduces the risk of a security
 breach by restricting the running environment of untrusted applications using
 Linux namespaces. It currently implements filesystem, PID, IPC, UTS and
 networking stack isolation, and it runs on any recent Linux system. It is a
 simple, clean, user-mode sandbox implementation for untrusted programs, web
 browser plugins and helper applications. It includes a sandbox profile for
 Mozilla Firefox/Iceweasel.
