Package: firejail
Version: FIREJAILVER-1
Architecture: amd64
Maintainer: netblue30 <netblue30@yahoo.com>
Installed-Size: 116
Depends: bridge-utils, iproute, libc6
Section: net
Priority: extra
Homepage: http://firejail.sourceforge.net
Description: Sandbox program that reduces the risk of security
 breaches by restricting the running environment of untrusted applications
 using Linux namespaces. It includes a sandbox profile for Iceweasel/Mozilla
 Firefox.
